// global resets
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: #f4e7a9;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.4);
  border-end-start-radius: 80%;
  border-end-end-radius: 80%;

  .title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: palevioletred;
  }

  .logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    width: 10%;

    @media all and (max-width: 720px) {
      width: 20%;
    }
  }
}

.menu {
  display: flex;
  padding: 1rem;

  .dishes {
    display: inherit;

    @media all and (max-width: 768px) {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;

      @media all and (max-width: 481px) {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
      }
    }

    .dish {
      padding: 1rem;
      border-radius: 0.2rem;
    }
  }
}
